{% extends 'base.html' %}

{% block content %}

<h1>Work Orders</h1>



<table>

    <tr>
        <th>WO Number</th>
        <th>Title</th>
        <th>Asset</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Actions</th>
    </tr>

    {% for work_order in work_orders %}

    <tr>

        <td>
            {{ work_order.work_order_number }}
        </td>

        <td>
            {{ work_order.title }}
        </td>

        <td>
            {{ work_order.asset.asset_code }}
        </td>

        <td>

            {% if work_order.assigned_to %}

                {{ work_order.assigned_to.username }}

            {% else %}

                Not Assigned

            {% endif %}

        </td>

        <td>
            {{ work_order.status }}
        </td>

        <td>
            {{ work_order.due_date }}
        </td>

        <td>

            <a href="/workorders/{{ work_order.id }}/"
               class="action-btn">
                View
            </a>

            {% if is_admin_or_manager %}

            <a href="/workorders/{{ work_order.id }}/edit/"
               class="action-btn">
                Edit
            </a>

            <a href="/workorders/{{ work_order.id }}/delete/"
               class="action-btn">
                Delete
            </a>

            {% endif %}

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="7">
            No work orders found.
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}