{% extends 'base.html' %}

{% block content %}

<div class="page-card">

    <h2>➕ Create Work Order</h2>

    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            <label>Title</label>
            <input
                type="text"
                name="title"
                required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea
                name="description"
                rows="4"></textarea>
        </div>

        <div class="form-group">
            <label>Asset</label>

            <select name="asset" required>

                {% for asset in assets %}

                <option value="{{ asset.id }}">
                    {{ asset.asset_code }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="form-group">
            <label>Assigned Technician</label>

            <select name="assigned_to" required>

                <option value="">
                    Select Technician
                </option>

                {% for technician in technicians %}

                <option value="{{ technician.id }}">
                    {{ technician.username }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="form-group">
            <label>Due Date</label>

            <input
                type="date"
                name="due_date"
                required>
        </div>

        <div style="margin-top:25px;">

            <button type="submit" class="btn">
                Create Work Order
            </button>

            <a href="{% url 'work_order_list' %}"
               class="btn"
               style="margin-left:10px;">
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}
