{% extends 'base.html' %}

{% block content %}

<div class="page-card">


<h2 style="color:#dc2626;">
    ⚠ Delete Work Order
</h2>

<p style="margin-top:20px;">
    Are you sure you want to delete this work order?
</p>

<table class="detail-table" style="margin-top:20px;">

    <tr>
        <td class="detail-label">Work Order Number</td>
        <td>{{ work_order.work_order_number }}</td>
    </tr>

    <tr>
        <td class="detail-label">Title</td>
        <td>{{ work_order.title }}</td>
    </tr>

    <tr>
        <td class="detail-label">Asset</td>
        <td>{{ work_order.asset.asset_code }}</td>
    </tr>

    <tr>
        <td class="detail-label">Status</td>
        <td>{{ work_order.status }}</td>
    </tr>

</table>

<form method="post" style="margin-top:25px;">

    {% csrf_token %}

    <button type="submit" class="danger-btn">
        Delete Work Order
    </button>

    <a href="{% url 'work_order_list' %}"
       class="btn"
       style="margin-left:10px;">
        Cancel
    </a>

</form>


</div>

{% endblock %}

