{% extends 'base.html' %}

{% block content %}

<div class="page-card">

    <h2>✏ Edit User</h2>

    <form method="post">

        {% csrf_token %}

        <div class="form-group">

            <label>Username</label>

            <input
                type="text"
                name="username"
                value="{{ user_obj.username }}"
                required>

        </div>

        <div class="form-group">

            <label>Phone Number</label>

            <input
                type="text"
                name="phone_number"
                value="{{ user_obj.userprofile.phone_number }}"
                required>

        </div>

        <div class="form-group">

            <label>Role</label>

            <select name="role">

                {% for group in groups %}

                <option
                    value="{{ group.name }}"
                    {% if group in user_obj.groups.all %}
                    selected
                    {% endif %}
                >
                    {{ group.name }}
                </option>

                {% endfor %}

            </select>

        </div>

        <button
            type="submit"
            class="btn">

            Update User

        </button>

        <a href="{% url 'user_list' %}"
           class="btn"
           style="margin-left:10px;">

            Cancel

        </a>

    </form>

</div>

{% endblock %}