{% extends 'base.html' %}

{% block content %}

<h1>Asset List</h1>



<table>

    <tr>

        <th>Asset Code</th>

        <th>Name</th>

        <th>Status</th>

        <th>Criticality</th>

        <th>Actions</th>

    </tr>

    {% for asset in assets %}

    <tr>

        <td>

            {{ asset.asset_code }}

        </td>

        <td>

            {{ asset.name }}

        </td>

        <td>

            {{ asset.status }}

        </td>

        <td>

            {{ asset.criticality }}

        </td>

        <td>

            <a href="/assets/{{ asset.id }}/" class="action-btn">

                View

            </a>
            {% if is_admin %}

            

            <a href="/assets/{{ asset.id }}/edit/" class="action-btn">

                Edit

            </a>

            

            <a href="/assets/{{ asset.id }}/delete/" class="action-btn">

                Delete

            </a>
            {% endif %}

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}