{% extends 'base.html' %}

{% block content %}

<h1>Asset List</h1>

<p>

    <a href="/assets/create/">

        <button>

            Create Asset

        </button>

    </a>

</p>

<table>

    <tr>

        <th>Asset Code</th>

        <th>Name</th>

        <th>Status</th>

        <th>Criticality</th>

        <th>Actions</th>

    </tr>

    {% for asset in assets %}

    <tr>

        <td>

            {{ asset.asset_code }}

        </td>

        <td>

            {{ asset.name }}

        </td>

        <td>

            {{ asset.status }}

        </td>

        <td>

            {{ asset.criticality }}

        </td>

        <td>

            <a href="/assets/{{ asset.id }}/">

                View

            </a>

            |

            <a href="/assets/{{ asset.id }}/edit/">

                Edit

            </a>

            |

            <a href="/assets/{{ asset.id }}/delete/">

                Delete

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}