{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CMMS</title>
        <link rel="stylesheet"
          href="{% static 'css/style.css' %}">


</head>

<body>

<div class="layout">

    <div class="sidebar">

        <h2>CMMS</h2>

        <a href="/dashboard/">
            Dashboard
        </a>

        <a href="/assets/">
            Assets
        </a>

        <a href="/workorders/">
            Work Orders
        </a>

        <a href="/logout/">
            Logout
        </a>

    </div>

    <div class="content">

        <div class="topbar">

            <h2>
                Computerized Maintenance Management System
            </h2>

            <span class="welcome">

                Welcome
                {{ request.user.username }}

            </span>

        </div>

        {% block content %}
        {% endblock %}

    </div>

</div>

</body>
</html>