{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CMMS</title>
        <link rel="stylesheet"
          href="{% static 'css/style.css' %}">


</head>

<body>
<div class="layout">

    <div class="sidebar">

        <h2>CMMS</h2>

        <a href="{% url 'dashboard' %}"
        class="{% if current_page == 'dashboard' %}active-link{% endif %}">
            Dashboard
        </a>


        {% if is_admin_or_manager %}

        <a href="{% url 'asset_list' %}"
        class="{% if current_page == 'assets' %}active-link{% endif %}">
            Assets
        </a>

        {% endif %}
            
        {% if is_admin_or_manager %}

        <a href="{% url 'work_order_list' %}"
        class="{% if current_page == 'workorders' %}active-link{% endif %}">
            Work Orders
        </a>

        {% endif %}

        {% if is_technician %}

        <a href="#">
            My Work Orders
        </a>

        {% endif %}

        <a href="/logout/">
            Logout
        </a>

    </div>

    <div class="content">

        <div class="topbar">

            <h2>
                Computerized Maintenance Management System
            </h2>

            <span class="welcome">

                Welcome
                {{ request.user.username }}

            </span>

        </div>    

        {% block content %}
        {% endblock %}

    </div>

</div>



</body>
</html>