{% extends 'base.html' %}

{% block content %}

<h1>CMMS Dashboard</h1>

<div class="card">
    <h3>Total Assets</h3>
    <h2>{{ total_assets }}</h2>
</div>

<div class="card">
    <h3>Active Assets</h3>
    <h2>{{ active_assets }}</h2>
</div>

<div class="card">
    <h3>Inactive Assets</h3>
    <h2>{{ inactive_assets }}</h2>
</div>

<div class="card">
    <h3>Open Work Orders</h3>
    <h2>{{ open_work_orders }}</h2>
</div>

<div class="card">
    <h3>Completed Work Orders</h3>
    <h2>{{ completed_work_orders }}</h2>
</div>


<h2>Recent Work Orders</h2>

<table border="1">

<tr>
    <th>WO Number</th>
    <th>Title</th>
    <th>Status</th>
</tr>

{% for work_order in recent_work_orders %}

<tr>

<td>
{{ work_order.work_order_number }}
</td>

<td>
{{ work_order.title }}
</td>

<td>
{{ work_order.status }}
</td>

</tr>

{% endfor %}

</table>




{% endblock %}